$font-basic: 'Roboto', sans-serif;
$font-main: 'Playfair Display', serif;
$font-special: 'Prata', serif;

$white: #ffffff;
$basic-dark: #1b1a17;
$basic-grey: #555248;
$basic-light: #fdfdfb;
$basic-neutral: #e2d0c4;
$basic-beige: #f7f5ef;
$basic-dark-beige: #d4b098;
$special-light: #e6c8b4;
$special-dark: #444240;
$special-grey: #8B8371;
$special-neutral: #c4c0b6;

$max-width: 1165px;
