// Fonts

$font-basic: 'Roboto', sans-serif;
$font-main: 'Playfair Display', serif;
$font-special: 'Prata', serif;

// Colors

$white: #ffffff;
$basic-dark: #1b1a17;
$basic-grey: #555248;
$basic-light: #fdfdfb;
$basic-neutral: #e2d0c4;
$basic-beige: #f7f5ef;
$basic-dark-beige: #d4b098;
$special-light: #e6c8b4;
$special-dark: #444240;
$special-grey: #8B8371;
$special-dark-grey: #262421;
$special-neutral: #c4c0b6;

// Viewports

$tablet-width: 670px;
$desktop-width: 1000px;
$desktop-width-max: 1200px;
$max-content-width: 1165px;