.menu {
  display: flex;
  gap: 10px;
}

.menu-item {
  @include button;
  position: relative;

  &:hover {
    opacity: 50%;
  }

  &:active {
    opacity: 30%;
  }
}

.menu-item__count {
  @include text(400, 8px);
  line-height: 13px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 0;
  background-color: $special-light;
  min-width: 13px;
  min-height: 13px;
}