.follow-us {
  max-width: 1271px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background: url("/img/follow-us-photo-1.jpg") no-repeat calc(50% + 180px) 80px;
  }

  @media (min-width: $desktop-width) {
    background: url("/img/follow-us-photo-1.jpg") no-repeat calc(50% + 250px) 80px;
  }

  @media (min-width: $desktop-width-max) {
    background: url("/img/follow-us-photo-1.jpg") no-repeat calc(50% + 77px) 80px, url("/img/follow-us-photo-2.jpg") no-repeat calc(50% + 77px) 318px, url("/img/follow-us-photo-3.jpg") no-repeat calc(50% + 397px) 80px;
  }
}

.follow-us__wrapper {
  padding: 80px 50px;

  @media (min-width: $tablet-width) {
    padding: 50px;
    margin-left: 0;
    width: 45%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 100px;
  }

  @media (min-width: $desktop-width-max) {
    padding: 194px 50px 152px;
  }
}

.follow-us__heading {
  @include heading;
}

.follow-us__text {
  @include text(400, 16px);
  line-height: 27px;
  max-width: 450px;
  margin-top: 23px;
  margin-bottom: 110px;
}

.follow-us__link {
  @include link;
  @include text(700, 16px);
  color: $special-dark-grey;

  &:hover {
    color: $basic-dark-beige;
  }

  &:active {
    color: $basic-neutral;
  }
}

.social-media {
  display: flex;
  gap: 12px;
}

.social-media__link {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  :hover {
    opacity: 70%;
  }

  :active {
    opacity: 50%;
  }
}