.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 50%;
  }
}

.logo__text {
  @include text(400, 12px);
  text-transform: uppercase;
  font-family: $font-main;
  letter-spacing: 0.14em;
}

.logo__text_light {
  color: $white;
}

.logo__text_dark {
  color: $basic-grey;
}