.new-collection {
  display: flex;
  background-color: $basic-light;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}

.new-collection__text {
  display: flex;
  flex-direction: column;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: $desktop-width-max) {
    width: 370px;
    margin-left: 100px;
  }
}

.title {
  @include text(400, 24px);
  font-family: $font-main;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 24px;
    text-align: left;

    &::before {
      @include line(30px);
      top: 18px;
      left: -40px;
    }
  }

  @media (min-width: $desktop-width-max) {
    font-size: 45px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 237px;

    &::before {
      @include line(50px);
      top: 34px;
      left: -64px;
    }
  }
}

.subtitle {
  @include text(400, 14px);
  font-family: $font-main;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0px 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 30px;
  }
}

.main-header {
  @include text(300, 12px);
  opacity: 82%;
  margin: 30px 3px 15px;
  line-height: 21px;
  max-width: 250px;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 14px;
    max-width: 260px;
  }
}

.new-collection__button {
  align-self: center;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
  }
}

.new-collection__product {
  position: relative;
  display: flex;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: -8px;
  }

  @media (min-width: $desktop-width-max) {
    width: 730px;
    margin-top: -10px;
    margin-bottom: -25px;
  }
}

.new-collection__options {
  @include text(400, 10px);
  font-family: $font-special;
  width: max-content;

  @media (min-width: $desktop-width-max) {
    font-size: 16px;
  }
}

.new-collection__image {
  width: 170px;
  height: 272px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 320px;
  }

  @media (min-width: $desktop-width-max) {
    width: 503px;
    height: 804px;
  }
}

.new-collection__price {
  margin-top: 50px;
  margin-right: 5px;
  position: relative;
  height: min-content;

  &::after {
    @include line(30px);
    top: 5px;
    right: -40px;
  }

  @media (min-width: $desktop-width-max) {
    margin-top: 148px;
    margin-right: 10px;

    &::after {
      @include line(50px);
      top: 10px;
      right: -70px;
    }
  }
}

.new-collection__size {
  margin-top: auto;
  margin-bottom: 45px;
  margin-left: 0px;
  position: relative;

  &::before {
    @include line(30px);
    top: 5px;
    left: -40px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 135px;
    margin-left: -37px;

    &::before {
      @include line(50px);
      top: 8px;
      left: -65px;
    }
  }
}

.new-collection__background-wrapper {
  position: absolute;
  z-index: 1;
  top: 170px;
  left: 50%;
  transform: translateX(-165px);
  height: 272px;
  width: 170px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    top: 10px;
    height: 320px;
    width: 200px;
    transform: translateX(-40px);
  }

  @media (min-width: $desktop-width-max) {
    height: 768px;
    width: 496px;
    top: 0;
    left: 50%;
    transform: translateX(-215px);
  }
}

.new-collection__background {
  width: 320px;
  height: 320px;
  background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
  border-radius: 50%;
  transform: translateY(-30px);

  @media (min-width: $tablet-width) {
    width: 375px;
    height: 375px;
  }

  @media (min-width: $desktop-width-max) {
    width: 944px;
    height: 944px;
    transform: translateY(-100px);
  }
}
