<section class="new-collection">
  <div class="new-collection__text">
    <p class="title">Весна/Лето 2019</p>
    <p class="subtitle">Коллекция</p>
    <h1 class="main-header">Швейцарские часы в наличии в Москве и&nbsp;с&nbsp;доставкой по всему миру</h1>
    <a class="new-collection__button button-basic button-basic_dark button-basic_desktop" href="#">Смотреть каталог</a>
  </div>
  <div class="new-collection__product">
    <p class="new-collection__options new-collection__price">22 000 &#8381;</p>
    <img class="new-collection__image" src="img/watch-new-collection.png" width="503" height="804" alt="Часы Rado" />
    <p class="new-collection__options new-collection__size">28 мм диаметр</p>
  </div>
  <a class="new-collection__button button-basic button-basic_dark button-basic_mobile" href="#">Смотреть каталог</a>
  <div class="new-collection__background-wrapper">
    <div class="new-collection__background"></div>
  </div>
</section>