.button-basic {
  @include link;
  @include text(500, 12px);
  color: $white;
  text-transform: uppercase;
  padding: 26px 38px;
  width: max-content;
  letter-spacing: 0.05em;
}

.button-basic_dark {
  background-color: $special-dark;

  &:hover {
    background-color: $basic-dark-beige;
  }

  &:active {
    opacity: 50%;
  }
}

.button-basic_light {
  background-color: $basic-dark-beige;

  &:hover {
    background-color: $special-dark;
  }

  &:active {
    opacity: 50%;
  }
}

