.header {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
}

.header__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.logo {
  @include link;
}
