.header {
  width: 100%;
  margin: 0 auto;
  background-color: $basic-light;
}

.header__wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }
}

.link {
  @include link;
}
