.footer {
  background-color: $special-dark;
  color: $white;
  padding: 60px 110px 70px;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  max-width: $max-width;
  margin: 0 auto;
}

.footer__header {
  @include text(700, 14px);
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 27px;
}

.footer-list {
  @include list;
  flex-direction: column;
  row-gap: 12px;
}

.footer-list__item {
  @include text(400, 12px);
}

.footer-list__link {
  @include link;
  color: $white;
  opacity: 75%;

  &:hover {
    color: $basic-dark-beige;
  }

  &:active {
    color: $basic-neutral;
  }
}
