<body class="body">
  <!--=include header.html -->
  <main>
    <!--=include new-collection.html -->
    <!--=include popular-models.html -->
    <section>
      <h2>Подлинное качество</h2>
      <p>Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.</p>
      <a href="#">Смотреть каталог</a>
    </section>
    <section>
      <h2>Следите за нашими новостями</h2>
      <p>Подписывайтесь на @conquest_watch в соцсетях и узнавайте о новинках и акциях первыми.</p>
    </section>
  </main>
  <!--=include footer.html -->
</body>