<body class="body">
  <!--=include header.html -->
  <main>
    <!--=include new-collection.html -->
    <section>
      <h2>Популярные модели</h2>
      <a href="#">
        <h3>RADO</h3>
        <p>65 300</p>
        <p>Подробнее</p>
      </a>
      <a href="#">
        <h3>BVLGARI</h3>
        <p>81 700</p>
        <p>Подробнее</p>
      </a>
      <a href="#">
        <h3>BVLGARI</h3>
        <p>72 700</p>
        <p>Подробнее</p>
      </a>
    </section>
    <section>
      <h2>Подлинное качество</h2>
      <p>Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.</p>
      <a href="#">Смотреть каталог</a>
    </section>
    <section>
      <h2>Следите за нашими новостями</h2>
      <p>Подписывайтесь на @conquest_watch в соцсетях и узнавайте о новинках и акциях первыми.</p>
    </section>
  </main>
  <!--=include footer.html -->
</body>