.nav {
  flex-grow: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.nav__list {
  @include list;
  @include text(400, 14px);
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 20px;
  row-gap: 10px;

  @media (min-width: $tablet-width) {
    column-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 65px;
    justify-content: center;
  }
}

.nav__link {
  @include link;
  color: $basic-grey;

  &:hover {
    color: $basic-dark-beige;
  }

  &:active {
    color: $basic-neutral;
  }
}