<section class="banner">
  <div class="banner__wrapper">
    <div class="banner__text">
      <h2 class="banner__heading">Подлинное качество</h2>
      <p class="banner__description">Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.</p>
      <a class="banner__button button-basic button-basic_light" href="#">Смотреть каталог</a>
    </div>
  </div>
  <div class="banner__pagination pagination">
    <button class="pagination__button pagination__button_prev"></button>
    <p class="pagination__page-number">01</p>
    <button class="pagination__button pagination__button_next"></button>
  </div>
</section>