.banner {
  @media (min-width: $tablet-width) {
    padding: 50px 50px 0;
    background: linear-gradient(to right, $basic-light 215px, $basic-beige 215px, $basic-beige 50%, $basic-light 50%) -215px;
    overflow: hidden;
  }
}

.banner__wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
  background-image: url("/img/quality.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    background-size: auto 192px;
    background-position-x: calc(50% - 150px);
  }

  @media (min-width: $desktop-width) {
    background-size: auto 300px;
    height: 300px;
    background-position-x: calc(50% - 200px);

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      border: 1px solid $basic-dark-beige;
      border-radius: 50%;
    }
  
    &::before {
      width: 365px;
      height: 365px;
      top: -202px;
      right: -234px;
    }
  
    &::after {
      width: 744px;
      height: 744px;
      top: -40px;
      right: -605px;
    }
  }

  @media (min-width: $desktop-width-max) {
    padding: 45px 20px 70px;
    background-position: 95px 0px;
    background-size: auto;
  }
}

.banner__text {
  z-index: 1;
  position: relative;
  background-color: rgba($white, 0.85);
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 215px;

  @media (min-width: $tablet-width) {
    max-width: none;
    text-align: left;
    width: 280px;
    background-color: transparent;
    transform: translateX(170px);
    padding: 0;

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 744px;
      height: 516px;
      background: linear-gradient(to right, transparent, $basic-light);
      right: 0;
      top: 0;
      transform: translate(100%, -95px);
    }
  }

  @media (min-width: $desktop-width) {
    transform: translateX(240px);
    width: 380px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $desktop-width-max) {
    transform: translateX(275px);
    justify-content: flex-start;
    height: auto;
  }
}

.banner__heading {
  @include heading;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width-max) {
    font-size: 32px;
    margin-top: 43px;
    margin-bottom: 13px;
  }
}

.banner__description {
  color: $special-dark;
  line-height: 150%;
  margin-bottom: 45px;
  font-size: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    max-width: 380px;
  }

  @media (min-width: $desktop-width-max) {
    margin-bottom: 35px;
  }
}

.banner__button {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.banner__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  gap: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 16px auto;
    transform: translateX(-100px);
  }
}

.pagination__button {
  @include button;
  width: 20px;
  height: 20px;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 0.5px solid $basic-dark;
    border-right: 0.5px solid $basic-dark;
  }

  &:hover::after {
    border-top: 0.5px solid $basic-dark-beige;
    border-right: 0.5px solid $basic-dark-beige;
  }
}

.pagination__button_prev {
  transform: rotate(225deg) translateX(-3px);
}

.pagination__button_next {
  transform: rotate(45deg) translateX(-4px);
}

.pagination__page-number {
  @include text(400, 12px);
  font-family: $font-special;
  margin: 0;
}