.popular-models {
  margin: 0 auto;
  padding: 50px 20px 84px;
  max-width: $max-content-width;
  display: flex;
  flex-direction: column;
}

.popular-models__heading {
  @include heading;
  text-align: center;
  font-family: $font-main;
  margin-top: 26px;
  margin-bottom: -6px;
}

.popular-models__view-all-wrapper {
  text-align: right;
  align-self: flex-end;
  padding-bottom: 6px;
  border-bottom: 1px solid $special-neutral;

  &:hover {
    border-bottom: 1px solid $basic-dark-beige;
  }

  &:active {
    border-bottom: 1px solid $basic-neutral;
  }
}

.popular-models__view-all {
  @include link;
  color: $special-dark;

  &:hover {
    color: $basic-dark-beige;
  }

  &:active {
    color: $basic-neutral;
  }
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 27px;
}

.product-card {
  @include link;
  background-color: $basic-light;
  position: relative;
  z-index: 2;
  padding: 24px 25px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 70px;
    width: 313px;
    height: 313px;
    background: linear-gradient($basic-light, $basic-light) padding-box, linear-gradient(to right, transparent, $basic-neutral) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    z-index: -1;
  }

  &:hover {
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  }
}

.product-card__product-name {
  @include text(700, 14px);
  font-family: $font-main;
  color: $basic-dark;
  opacity: 82%;
  margin-left: 5px;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
}

.product-card__product-price {
  @include text(400, 12px);
  font-family: $font-special;
  color: $basic-dark;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.product-card__more {
  @include text(400, 16px);
  font-family: $font-main;
  color: $basic-dark;
  margin-left: 53px;
  margin-top: 18px;
  position: relative;

  &::before {
    @include line(30px);
    top: 12px;
    left: -48px;
  }
}