<section class="popular-models">
  <h2 class="popular-models__header">Популярные модели</h2>
  <div class="popular-models__view-all-wrapper">
    <a class="popular-models__view-all" href="#">Смотреть все</a>
  </div>
  <div class="product-cards">
    <a class="product-card" href="#">
      <h3 class="product-card__product-name">RADO</h3>
      <p class="product-card__product-price">65 300 &#8381;</p>
      <img src="img/watch-1.png" width="313" height="313" alt="Часы RADO" />
      <p class="product-card__more">Подробнее</p>
    </a>
    <a class="product-card" href="#">
      <h3 class="product-card__product-name">BVLGARI</h3>
      <p class="product-card__product-price">81 700 &#8381;</p>
      <img src="img/watch-2.png" width="313" height="313" alt="Часы BVLGARI" />
      <p class="product-card__more">Подробнее</p>
    </a>
    <a class="product-card" href="#">
      <h3 class="product-card__product-name">BVLGARI</h3>
      <p class="product-card__product-price">72 700 &#8381;</p>
      <img src="img/watch-3.png" width="313" height="313" alt="Часы BVLGARI" />
      <p class="product-card__more">Подробнее</p>
    </a>
  </div>
</section>